---
const response = await fetch("http://localhost:8080/movie", {
    method: "GET",
    headers: {
        "Content-Type": "application/json",
    },
});

const data = await response.json();

const pelis = data.slice(0, 80);
---

<div
    class="container flex flex-col mx-auto justify-center align-center mt-16 gap-8"
>
    <h1 class="text-xxl font-semibold">Novedades</h1>

    <ul class="grid grid-cols-8 align-center justify-between">
        {
            pelis.map((peli: any) => (
                <li class="flex flex-col w-5/6 justify-between m-6">
                    <article>
                        <img
                            alt={`Imagen de ${peli.title}`}
                            src={peli.poster}
                            class="w-[200px] transition hover:scale-110"
                        />

                        <footer class="flex flex-col w-48 mt-4">
                            <h1 class="text-lg font-semibold mt-2">
                                {peli.title}
                            </h1>
                            <h1 class="text-lg text-green-400 mt-2">
                                {peli.popularity}
                            </h1>
                            <h1 class="text-sm mt-2">{peli.releasedate}</h1>
                        </footer>
                    </article>
                </li>
            ))
        }
    </ul>
</div>

<!-- La siguiente linea es para que todos los navegadores puedan utilizar
 las animaciones de scroll que se usarán para mostrar poco a poco las 
 imágenes -->
<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
></script>

<!--
    both es para que funcione tanto al entrar como al salir
        
    El view: cuando el elemento este en la vista (el 100%) es 
    cuando se muestra al 100%

    scale: 40%;

    scale: 100%;
-->

<style>
    @keyframes show {
        from {
            opacity: 0.2;
        }
        to {
            opacity: 1;
        }
    }
    img {
        animation: show linear both;
        animation-timeline: view();
        animation-range: 15% cover 40%;
    }
</style>
